<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <title>Megalodon</title>




    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../plugins/switchery/switchery.min.css">
    <link href="../plugins/jquery.filer/css/jquery.filer.css" rel="stylesheet" />
    <link href="../plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="../assets/js/modernizr.min.js"></script>

</head>


<body>


    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">

                <!-- Logo container-->
                <div class="logo">
                    <!-- Text Logo -->
                    <!--<a href="index.html" class="logo">-->
                    <!--Zircos-->
                    <!--</a>-->
                    <!-- Image Logo -->
                    <a href="/admin" class="logo">
                        <img src="../assets/images/logo.png" alt="" height="30">
                    </a>

                </div>
                <!-- End Logo container-->


                <div class="menu-extras">

                    <ul class="nav navbar-nav navbar-right pull-right">
            
                        <li class="dropdown navbar-c-items">
                            <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown"
                                aria-expanded="true"><img src="../assets/images/users/avatar-1.jpg" alt="user-img"
                                    class="img-circle"> </a>
                            <ul
                                class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                <li class="text-center">
                                    <h5>Hi, John</h5>
                                </li>
                                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> Lock screen</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                            </ul>

                        </li>
                    </ul>
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
                <!-- end menu-extras -->

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li class="has-submenu">
                            <a href="/admin"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-layers"></i>Game Manager</a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li>
                                            <span>Game</span>
                                        </li>
                                        <li><a href="/admin/listgame">List Game</a></li>
                                        <li><a href="/admin/addgame">Add Game</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-layers"></i>User Manager</a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li>
                                            <span>User</span>
                                        </li>
                                        <li><a href="/admin/listcustomers">List Customer</a></li>
                                        <li><a href="/admin/listusers">Users</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-layers"></i>Blog Manager</a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li>
                                            <span>Blog</span>
                                        </li>
                                        <li><a href="#">Dashboard Blog</a></li>
                                        <li><a href="#">Add Blog</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#"><i class="mdi mdi-layers"></i>SlideShow</a>
                    </ul>
                    </li>
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->


    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group pull-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li>
                                    <a href="#">Zircos</a>
                                </li>
                                <li>
                                    <a href="#">Forms</a>
                                </li>
                                <li class="active">
                                    Form Validation
                                </li>
                            </ol>
                        </div>
                        <h4 class="page-title">Form Validation</h4>
                    </div>
                </div>
            </div>
            <!-- Page-Title -->
            <!-- New Game -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <div class="row">
                            <form action="#" data-parsley-validate validate >
                                <div class="col-sm-12 col-xs-12 col-md-6">

                                    <h4 class="header-title m-t-0">NEW GAME</h4>
                                    <p class="text-muted font-13 m-b-10">
                                        Parsley is a javascript form validation library. It helps you provide your users
                                        with feedback on their form submission before sending it to your server.
                                    </p>

                                    <div class="p-20">

                                        <div class="form-group">
                                            <label for="Name Game">Name Game<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Name Game" class="form-control" id="Name Game">
                                        </div>
                                        <div class="form-group">
                                            <label for="Producer">Producer<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Producer" class="form-control" id="Producer">
                                        </div>
                                        <div class="form-group">
                                            <label for="Publisher">Publisher<span class="Publisher">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Publisher" class="form-control" id="Publisher">
                                        </div>
                                        <div class="form-group">
                                            <label for="Release year">Release year<span
                                                    class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Release year" class="form-control" id="Release year">
                                        </div>
                                        <h4 class="header-title m-t-0">DESCRIPTION</h4>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-box">
                                                    
                                                        <textarea id="elm1" name="area"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-6">
                                    <h4 class="header-title m-t-0">SYSTEM REQUIREMENTS</h4>
                                    <p class="text-muted font-13 m-b-10">
                                        Parsley is a javascript form validation library. It helps you provide your users
                                        with feedback on their form submission before sending it to your server.
                                    </p>
                                    <div class="p-20">
                                        <div class="form-group">
                                            <label for="Processor">Processor<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Processor" class="form-control" id="Processor">
                                        </div>
                                        <div class="form-group">
                                            <label for="RAM">RAM<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter RAM" class="form-control" id="RAM">
                                        </div>
                                        <div class="form-group">
                                            <label for="VGA">VGA<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter VGA" class="form-control" id="VGA">
                                        </div>
                                        <div class="form-group">
                                            <label for="Storage">Free Storage<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" parsley-trigger="change" required
                                                placeholder="Enter Free Storage" class="form-control" id="Storage">
                                        </div>

                                        <div class="form-group row">
                                            <h4 class="header-title m-t-0">CATEGORIES</h4>
                                            <br>
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info1" />
                                                <label for="input-btn-switch-info1"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Puzzle, find pairs
                                                    </strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info2" />
                                                <label for="input-btn-switch-info2"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Racing</strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&ensp;&emsp; &emsp; &emsp; &emsp;

                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info3" />
                                                <label for="input-btn-switch-info3"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Sport</strong>
                                                </label>
                                            </div>


                                        </div>
                                        <div class="form-group row">
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info4" />
                                                <label for="input-btn-switch-info4"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Countervailing</strong>
                                                </label>
                                            </div>
                                            &emsp;&ensp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info5" />
                                                <label for="input-btn-switch-info5"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Tactic</strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&nbsp;&ensp;&emsp; &emsp; &emsp; &emsp; &nbsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info6" />
                                                <label for="input-btn-switch-info6"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Searching for objects
                                                    </strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info7" />
                                                <label for="input-btn-switch-info7"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Playing cards, board games
                                                    </strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&emsp;&nbsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info8" />
                                                <label for="input-btn-switch-info8"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Horror</strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info9" />
                                                <label for="input-btn-switch-info9"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Fashion</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info10" />
                                                <label for="input-btn-switch-info10"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Role Playing - RPG</strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&nbsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info11" />
                                                <label for="input-btn-switch-info11"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Wisdom</strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info12" />
                                                <label for="input-btn-switch-info12"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Simulation</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info13" />
                                                <label for="input-btn-switch-info13"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Time management
                                                    </strong>
                                                </label>
                                            </div>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info14" />
                                                <label for="input-btn-switch-info14"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Adventure
                                                    </strong>
                                                </label>
                                            </div>
                                            &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info15" />
                                                <label for="input-btn-switch-info15"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Action
                                                    </strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="btn-switch btn-switch-info">
                                                <input type="checkbox" id="input-btn-switch-info16" />
                                                <label for="input-btn-switch-info16"
                                                    class="btn btn-rounded btn-info waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Other</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <h4 class="header-title m-t-0">IMAGE</h4>
                                        <p class="text-muted font-13 m-b-30">
                                            In this example we designed our own file input and used our own
                                            theme -
                                            'dragdropbox'. We also added the file preview in our browser
                                            before
                                            uploading the file.
                                        </p>

                                        <div class="p-20">
                                            <div class="form-group clearfix">
                                                <div class="col-sm-12 padding-left-0 padding-right-0">
                                                    <input type="file" name="files[]" id="filer_input1"
                                                        multiple="multiple">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group text-right m-b-0">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-default waves-effect m-l-5">
                                        Cancel
                                    </button>
                                </div>

                            </form>
                        </div>

                    </div>


                </div>
            </div>






        </div>


    </div>
    <!-- Close New Game -->
    <!-- end row -->


    <!-- Footer -->
    <footer class="footer text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    © 2016 - 2018 Zircos.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    </div>
    </div>
    <!-- jQuery  -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/detect.js"></script>
    <script src="../assets/js/fastclick.js"></script>
    <script src="../assets/js/jquery.blockUI.js"></script>
    <script src="../assets/js/waves.js"></script>
    <script src="../assets/js/jquery.slimscroll.js"></script>
    <script src="../assets/js/jquery.scrollTo.min.js"></script>
    <script src="../plugins/switchery/switchery.min.js"></script>

    <!-- Counter js  -->
    <script src="../plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="../plugins/counterup/jquery.counterup.min.js"></script>

    <!--Morris Chart-->
    <script src="../plugins/morris/morris.min.js"></script>
    <script src="../plugins/raphael/raphael-min.js"></script>

    <!-- Dashboard init -->
    <script src="../assets/pages/jquery.dashboard.js"></script>

    <!--Wysiwig js-->
    <script src="../plugins/tinymce/tinymce.min.js"></script>

    <!-- App js -->
    <script src="../assets/js/jquery.core.js"></script>
    <script src="../assets/js/jquery.app.js"></script>

    <script type="text/javascript" src="../plugins/parsleyjs/parsley.min.js"></script>
    <script src="../plugins/jquery.filer/js/jquery.filer.min.js"></script>
    <script src="../assets/pages/jquery.fileuploads.init.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#elm1").length > 0) {
                tinymce.init({
                    selector: "textarea#elm1",
                    theme: "modern",
                    height: 300,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                    style_formats: [
                        { title: 'Bold text', inline: 'b' },
                        { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                        { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                        { title: 'Example 1', inline: 'span', classes: 'example1' },
                        { title: 'Example 2', inline: 'span', classes: 'example2' },
                        { title: 'Table styles' },
                        { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                    ]
                });
            }
        });
    </script>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });
    $(function () {
        $('#demo-form').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.alert-info').toggleClass('hidden', !ok);
            $('.alert-warning').toggleClass('hidden', ok);
        })
        .on('form:submit', function () {
            return false; // Don't submit form for this demo
        });
    });
</script>
</body>

</html>